* {
	font-family: "Ubuntu Regular";
}

window {
    background-color: #2E3440;
    border-radius: 7px;
}

#input {
	margin: 5px;
	border-radius: 5px;
	border: none;
	background-color: #434C5E;
	color: white;
}

#inner-box {
	background-color: #2E3440;
}

#outer-box {
        margin: 2px;
	padding: 2px;
	background-color: #2E3440;
}

#scroll {
	margin: 5px;
}

#text {
	padding: 5px;
	color: #E5E9F0;
}

#entry {
        background-color: #434C5E;
        margin: 2px;
	border-radius: 5px;
}

#entry:selected {
	background-color: #8FBCBB;
}

#text:selected {
	background: transparent;
}
